<%= link_to "Home", root_path %>
<%= link_to "View all", parks_path %>
<%= link_to "Add a park", parks_new_path %>

<h1>Add a park to the listings</h1>

<%= form_for :park, url: parks_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :picture %><br>
    <%= f.text_area :picture %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
