<%= render 'navbar' %>

<h1>All National Parks</h1>


<% @allparks.each do |park| %>
<div>
  <img src="park.picture" alt="">
  <h1><%= park.name %></h1>
  <p><%= park.description %></p>
  <%= link_to "More details", parks_showone_path(park) %>
  <%= link_to "Delete this listing?", parks_delete_path(park), method: :delete, data: { confirm: "Are you sure you want to delete this listing?"} %>
</div>
<% end %>
